$hero-image-height-desktop: 250px;
$hero-image-height-mobile: 200px;
$hero-width-desktop: 700px;
$hero-width-mobile: 100%;

.hero {
  @include breakpoint(sm) {
    border-radius: $border-radius;
    width: $hero-width-desktop;
  }
  position: relative;
  box-shadow: 0 0px 10px 0 rgba(0,0,0,.5);
  width: $hero-width-mobile;
  background: background-color(secondary);
  height: auto;
  .hero-image {
    @include breakpoint(sm) {
      height: $hero-image-height-desktop;
      border-radius: $border-radius $border-radius 0 0;
    }
    background-size: cover;
    width: 100%;
    height: $hero-image-height-mobile;
  }

  
  .intro {
    padding: 50px;
    text-align: center;
  }
  
  .social-media {
    font-size: 24px;
    list-style: none;
    padding: 0;
    li { 
      display: inline; padding-right: 10px; 
      &:last-of-type {
        padding-right: 0;
      }
      a {
        text-decoration: none;
        span {
          color: black;
          transition: transform 300ms ease-in-out;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}