.hero {
  @include breakpoint(sm) {
    border-radius: $border-radius;
  }
  position: relative;
  box-shadow: 0 0px 10px 0 rgba(0,0,0,.5);
  width: 700px;
  background: background-color(secondary);
  height: auto;
  .hero-image {
    @include breakpoint(sm) {
      height: 250px;
      border-radius: $border-radius $border-radius 0 0;
    }
    background-size: cover;
    width: 100%;
    height: 150px;
  }

  
  .intro {
    padding: 50px;
    text-align: center;
  }
  
  .social-media {
    font-size: 24px;
    list-style: none;
    padding: 0;
    li { 
      display: inline; padding-right: 10px; 
      &:last-of-type {
        padding-right: 0;
      }
      a {
        text-decoration: none;
        span {
          color: black;
          transition: transform 300ms ease-in-out;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}