@import "variables";
@import "mixins";
@import "../../node_modules/normalize-scss/sass/normalize";
@import "reset";
@import "typography";
@import "hero";
@import "avatar";

body {
	@include breakpoint(sm) {
		font-size: font-size(body, sm);
	}
	font-family: "Lato";
	font-size: font-size(body);
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	background: background-color(primary);
}

.container {
	@include breakpoint(sm) {
		align-items: center;
		min-height: 650px;
	}
	display: flex;
	align-items: top;
	justify-content: center;
	height: 100vh;
}