@import "variables";
@import "mixins";
@import "reset";
@import "typography";
@import "hero";
@import "avatar";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: background-color(primary);
  min-height: 450px;
  height: 100vh;
  font-family: "Lato";
}

