@import "variables";
@import "reset";
@import "typography";
// @use "hero";
// @use "avatar";

$top-spacing: 30px;
$border-radius: 25px;


// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  background: #f9f9f9;
  padding-top: $top-spacing;
  min-height: 100%;
  height: 100vh;
  font-family: "Lato";
}
.hero {
  position: relative;
  border-radius: $border-radius;
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.50);
  width: 700px;
  background: #FFF;
  height: auto;
  .hero-image {
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: $border-radius $border-radius 0 0;
  }
  .avatar-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    .avatar {
      border: 7px solid gray;
      background: #FFF;
      height: 85px;
      width: 85px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      background-size: contain;
      background-position: top center;
    }
  }
  
  .intro {
    padding: 50px;
    text-align: center;
  }
  
  .social-media {
    font-size: 24px;
    list-style: none;
    padding: 0;
    li { 
      display: inline; padding-right: 10px; 
      &:last-of-type {
        padding-right: 0;
      }
      a span {
        color: black;
        transition: transform 300ms ease-in-out;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

